@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ovo&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Tektur:wght@400..900&display=swap');

body {
    width: 100%;
    height: 100vh;
    margin: 0px;
    font-family:'Commissioner', sans-serif; 
    background-image: url('../assets/fundo_cadastro.png');
    background-size: cover;
}

input {
    width: 441px;
    height: 30px;
    font-family: 'Commissioner', sans-serif;
    border-radius: 20px;
    padding: 0 14px;
    border: 2px solid #0000003c;
    font-size: 1rem;
    transition: 0.9s;
}

input:focus {
    outline: none;
    box-shadow: 0 0 0 2px #0f9dea7d;
}

h2 {
    color: #0F9FEA;
    font-size: 26px;
    font-weight: 600;
}

button {
    font-size: 16px;
    color: white;
    background-color: #7BD156;
    border-radius: 20px;
    transition: all 0.2s ease;
    width: 473px;
    height: 40px;
    border: 0;
    margin-top: 16px;
}

button:hover {
    transform: scale(1.1);
    background-color: #6AB84B;
}

p {
    color: #0F9FEA;
    font-size: 16px;
}

a {
    color: #0F9FEA;
    width: 100%;
    display: flex;
    justify-content: center;
}

/* ----------------------------------------------------------------------------------------------- */

.div-img {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
}

.logo {
    width: 18%;
}

.cadastro {
    width: 80%;
    margin: auto;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 70%;
    border-radius: 20px;
    background-color: #F7F4EF;
}

.div-saudacoes {
    text-align: center;
}

.div-saudacoes p:nth-of-type(1) {
    font-style: italic;
}

.div-msg-erro{
  font-size: 1rem;
  color: rgb(198, 5, 5);
  text-align: left;
  padding: 0px 20px 20px;
}

.creditos {
    text-align: center;
}