@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ovo&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Tektur:wght@400..900&display=swap');

body {
    width: 100%;
    height: 100vh;
    margin: 0px;
    font-family:'Commissioner', sans-serif; 
    background-image: url('../assets/fundo_cadastro.png');
    background-size: cover;
}

/* ----------------------------------------------------------------------------------------------- */

.div-img {
    display: flex;
    align-items: center;
    padding-top: 15px;
}

.logo {
    width: 60%;
}

.cadastro {
    width: 80%;
    margin: auto;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 70%;
    border-radius: 20px;
    background-color: #F7F4EF;
}

