body {
    width: 100%;
    margin: 0px;
    font-family:'Commissioner', sans-serif; 
    background-color: #F7F4EF;
}

header {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    transition: 0.3s;
    padding-top: 15px;
    background-color: #0F9FEA;

}

header ul {
    display: flex;
}

ul {
    list-style: none;
    width: 60%;
    justify-content: space-around;
}

li {
    font-size: 18px;
}

a {
    text-decoration: none;
    color: white;
}

a:nth-of-type(1):hover {
    text-decoration: underline;
}

a:nth-of-type(2):hover {
    text-decoration: underline;
}

a:nth-of-type(3):hover {
    text-decoration: underline;
}

h3 {
    color: #0F9FEA;
    font-size: 36px;
    font-weight: 600;
}

button {
    font-size: 16px;
    color: white;
    background-color: #7BD156;
    border-radius: 20px;
    transition: all 0.2s ease;
    width: 150px;
    height: 30px;
    border: 0;
}

button:hover {
    transform: scale(1.1);
    background-color: #6AB84B;
}

footer {
    background-color: #0F9FEA;
    height: 180px;
}

footer p {
    color: white;
}

footer img {
    width: 150px;
}

/* ----------------------------------------------------------------------------------------------- */

.div-img {
    display: flex;
    align-items: center;
}

.img-header {
    width: 60%;
}

.div-nav {
    width: 100%;
    justify-items: end;
}

.btn-login {
    font-weight: normal;
    color: white;
    background-color: #7BD156;
    border-radius: 20px;
    transition: all 0.2s ease;
    width: 150px;
    height: 30px;
}

.btn-login:hover {
    transform: scale(1.1);
    background-color: #6AB84B;
}
