@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ovo&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Tektur:wght@400..900&display=swap');

body {
    width: 100%;
    margin: 0px;
    font-family:'Commissioner', sans-serif; 
    background-color: #F7F4EF;
}

header {
    background-color: #0F9FEA;
    height: 100px;

}

header ul {
    display: flex;
    align-items: center;
}

ul {
    list-style: none;
    width: 40%;
    justify-content: space-around;
}

li {
    font-size: 18px;
}

a {
    text-decoration: none;
    color: white;
}

a:nth-of-type(1):hover {
    text-decoration: underline;
}

a:nth-of-type(2):hover {
    text-decoration: underline;
}

a:nth-of-type(3):hover {
    text-decoration: underline;
}

h2 {
    color: #0F9FEA;
    font-size: 30px;
    font-weight: 600;
}

h3 {
    color: #0F9FEA;
    font-size: 25px;
    font-weight: 600;
}

textarea {
    width: 95%;
    box-sizing: border-box;
    height: 300px;
    border-radius: 20px;
    font-family: 'Commissioner', sans-serif;
    font-size: 1rem;
    padding: 10px 14px;
    resize: none;
    border: 2px solid #0000003c;
    transition: 0.9s;
}

textarea:focus {
    outline: none;
    box-shadow: 0 0 0 2px #0f9dea7d;
}

select {
    width: 30%;
    border-radius: 20px;
    font-family: 'Commissioner', sans-serif;
    font-size: 1rem;
    padding: 10px 14px;
    border: 2px solid #0000003c;
    transition: 0.9s;
    cursor: pointer;
}

button {
    font-size: 16px;
    color: white;
    background-color: #7BD156;
    border-radius: 20px;
    transition: all 0.2s ease;
    width: 150px;
    height: 30px;
    border: 0;
    cursor: pointer;
}

button:hover {
    transform: scale(1.1);
    background-color: #6AB84B;
}

footer {
    background-color: #0F9FEA;
    height: 180px;
}

footer p {
    color: white;
    margin-bottom: 0;
}

footer img {
    width: 150px;
}

/* ----------------------------------------------------------------------------------------------- */

.div-header {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    transition: 0.3s;
}

.div-img {
    display: flex;
    align-items: center;
}

.img-header {
    width: 60%;
}

.div-nav {
    width: 100%;
    justify-items: end;
}

/* ----------------------------------------------------------------------------------------------- */

.div-secao-info {
    width: 80%;
    margin: auto;
    display: flex;
    margin-top: 30px;  
    position: relative;
}

.div-secao-info img {
    position: absolute;
    width: 16%;
    right: 5%
}

.div-info {
    height: 200px;
    width: 70%
}

/* ----------------------------------------------------------------------------------------------- */

.div-secao-filmes {
    width: 80%;
    margin: auto;
}

.div-filmes {
    display: flex;
    justify-content: space-evenly;
    gap: 5px;
}

.div-filmes p {
    font-size: 13px;
}

.div-filme {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-filme p {
    text-align: center;
    max-width: 172px;
    cursor: pointer;
}

.div-filme img {
    width: 172px;
    cursor: pointer;
}

/* ----------------------------------------------------------------------------------------------- */

.div-comentario {
    max-width: 50%;
    border-right: solid 1px gray;
    margin-right: 1rem;
}

.div-emocao,
.div-impacto {
    margin-left: 0.9rem;
}

.div-text-select {
    box-sizing: border-box;
    display: flex;
    width: 80%;
    margin: 50px auto;
}

/* ----------------------------------------------------------------------------------------------- */

.div-button {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    margin: 40px auto;
}

.div-button button {
    width: 30%;
    height: 40px;
}

/* ----------------------------------------------------------------------------------------------- */

.div-footer-img {
    margin-top: 30px;
}

.div-footer {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.div-footer a {
    font-size: 12px;
}

.div-footer-site {
    width: 200px;
}

.div-footer-site ul {
    width: 80%;
}

.div-footer-site li {
    margin-bottom: 5px;
}


.div-footer-redes {
    width: 10%;
}

.div-footer-redes ul {
    padding: 0;
    width: 80%;
}
.div-footer-redes img {
    height: 15px;
    width: auto;
}

.div-rede {
    display: flex;
    margin-bottom: 20px;
    width: 100px;
    align-items: center ;
}

.div-rede img {
    margin-right: 5px;
}

.div-footer-comunidade {
    display: flex;
    flex-direction: column;

}

.div-footer-comunidade p:nth-of-type(2){
    font-style: italic;
    margin: 0;
}

.div-comunidade-dev p:nth-of-type(2){
    margin-bottom: 80px;
}

.div-paginacao {
    display: flex;
    justify-content: center;
    gap: 15px;
    font-weight: 600;
    color: #0F9FEA;
    align-items: center;
}

.div-paginacao div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    cursor: pointer;
}

.destaque-paginacao {
    background-color: #0F9FEA;
    color: #FFFFFF;
}