@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ovo&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Tektur:wght@400..900&display=swap');

body {
    width: 100%;
    margin: 0px;
    font-family:'Commissioner', sans-serif; 
    background-color: #F7F4EF;
}

header {
    height: 100px;
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    transition: 0.3s;
}

header ul {
    display: flex;
    align-items: center;
}

ul {
    list-style: none;
    width: 60%;
    justify-content: space-around;
}

li {
    font-size: 18px;
}

a {
    text-decoration: none;
    color: white;
}

a:nth-of-type(1):hover {
    text-decoration: underline;
}

a:nth-of-type(2):hover {
    text-decoration: underline;
}

a:nth-of-type(3):hover {
    text-decoration: underline;
}

h3 {
    color: #0F9FEA;
    font-size: 36px;
    font-weight: 600;
}

button {
    font-size: 16px;
    color: white;
    background-color: #7BD156;
    border-radius: 20px;
    transition: all 0.2s ease;
    width: 150px;
    height: 30px;
    border: 0;
}

button:hover {
    transform: scale(1.1);
    background-color: #6AB84B;
}

footer {
    background-color: #0F9FEA;
    height: 180px;
}

footer p {
    color: white;
}

footer img {
    width: 150px;
}

/* ----------------------------------------------------------------------------------------------- */

.div-banner {
    background-image: url('../assets/banner.png');
    height: 722px; 
}

.div-img {
    display: flex;
    align-items: center;
}

.img-header {
    width: 60%;
}

.div-nav {
    width: 100%;
    justify-items: end;
}


/* ----------------------------------------------------------------------------------------------- */

.div-sobre {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: -60px auto;
    margin-bottom: 50px;
}

.div-sobre p {
    font-size: 18px;
}

.texto {
    width: 60%;
    text-align: justify;
}

.div-sobre img {
    width: auto;
    height: 430px;
    margin-top: 80px;
}

/* ----------------------------------------------------------------------------------------------- */

.div-comentarios {
    width: 100%;
    background-color: #0F9FEA;
    color: white;
    font-size: 18px;
    margin-top: 36px;
}

.container {
    width: 80%;
    margin: auto;
    padding: 30px 0;
}

.div-comentarios h3 {
    color: white;
    margin-top: 0;
}

.div-comentarios img {
    height: 162px;
}

.botao-e-imagem {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div-comentarios button {
    width: 253px;
    height: 54px;
    font-weight: bold;
}

/* ----------------------------------------------------------------------------------------------- */

.div-filmes {
    width: 80%;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
}

.filme {
    font-style: italic;
}

.filme p {
    text-align: center;
}

/* ----------------------------------------------------------------------------------------------- */

.div-sobre-mim {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    margin-bottom: 50px;
}

.div-sobre-mim p {
    font-size: 18px;
}

/* ----------------------------------------------------------------------------------------------- */

.div-footer-img {
    margin-top: 30px;
}

.div-footer {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.div-footer a {
    font-size: 12px;
}

.div-footer-site {
    width: 200px;
}

.div-footer-site ul {
    width: 80%;
}

.div-footer-site li {
    margin-bottom: 5px;
}


.div-footer-redes {
    width: 10%;
}

.div-footer-redes ul {
    padding: 0;
    width: 80%;
}
.div-footer-redes img {
    height: 15px;
    width: auto;
}

.div-rede {
    display: flex;
    margin-bottom: 20px;
    width: 100px;
    align-items: center ;
}

.div-rede img {
    margin-right: 5px;
}

.div-footer-comunidade {
    display: flex;
    flex-direction: column;

}

.div-footer-comunidade p:nth-of-type(2){
    font-style: italic;
    margin: 0;
}

.div-comunidade-dev p:nth-of-type(2){
    margin-bottom: 80px;
}
