@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ovo&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Tektur:wght@400..900&display=swap');

body {
    width: 100%;
    height: 100vh;
    margin: 0px;
    font-family:'Commissioner', sans-serif; 
    background-color: #F7F4EF;
}

p {
    color: #0F9FEA;
}

/* ----------------------------------------------------------------------------------------------- */

.div-img {
    display: flex;
    align-items: center;
    padding-top: 15px;
}

.logo {
    width: 60%;
}

/* ----------------------------------------------------------------------------------------------- */

.login {
    width: 80%;
    height: 100%;
    margin: auto;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
    width: 60%;
    height: 80%;

    border: solid 4px #0F9FEA;
    border-radius: 20px;
}

/* ----------------------------------------------------------------------------------------------- */

.div-saudacao {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.div-saudacao p {
    font-style: italic;
}

/* ----------------------------------------------------------------------------------------------- */

.div-titulo-img {
    display: flex;
    align-items: center;
}

.div-titulo-img img {
    width: 53px;
    height: 59px;
    margin-left: 10px;
}

.div-titulo-img h2 {
    font-size: 30px;
    margin-bottom: 0;
    color: #0F9FEA;
}